* {
  box-sizing: border-box;
}

body {
  margin: 0 20%;
}

header {
  height: 10vh;
  margin-bottom: 4vh;
}

h1 {
  font-family: 'Nico Moji', cursive;
  font-size: 1.5em;
  margin-bottom: 5px;
}

h2 {
  font-size: 1em;
  margin-top: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.winner-output {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: .9em;
}

.row {
  display: flex;
  width: 60vw;
  height: 20vw;
  margin: 0 auto;
}

.row div {
  border: 1px solid black;
  width: 60vw;
  height: 20vw;
  text-align: center;
}


.player1 {
  background-image: url(images/katana.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.player2 {
  background-image: url(images/koi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}