* {
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: 0 20%;
  text-align: center;
}

header {
  height: 10vh;
  margin-bottom: 6vh;
}

main {
  padding-bottom: 5%;
}

h1 {
  font-family: 'Nico Moji', cursive;
  font-size: 4em;
  margin-bottom: 0;
  color: #6b8ec7;
}

h2 {
  font-size: 2em;
  color: #97d8d8;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.output-box {
  margin-top:1vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.2em;
  color: #97b0d8;
}

.row {
  display: flex;
  justify-content: center;
}

.row div {
  border: .5px solid white;
  width: 120px;
  height: 120px;
  text-align: center;
  background-color: #97b0d8;
  transition: all .5s ease-out;
}

.player1 {
  background-image: url(images/katana.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.player2 {
  background-image: url(images/koi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

footer {
  text-align: center;
}

.btn * {
  border: none;
  border-radius: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  font-size: 100%;
  background: #6b8ec7;
  width: 10%;
  text-decoration: none;
  outline: none;
}
  
.btn *:hover {
  background: #97d8d8;
  text-decoration: none;
}

.fine-print {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 6vh;
  text-align: center;
  color: #a3b9dc;
}

#sy {
  color: #dca3dc;
}

a {
  text-decoration: none;
  color: #a3b9dc;
}

@media (max-width: 850px) {
  body {
    margin: 0 auto;
  }

  header {
    height: 8vh;
    margin-bottom: 4vh;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1em;
  }

  .output-box {
    font-size: .8em;
    margin-top: 3px;
  }

  .btn * {
    font-size: 1em;
    width: 53px;
    margin: 3px;        
  }

  .fine-print {
    font-size: .8em;
    margin-top: 3vh;
  }
}